.new-message
{
    position:absolute;
    bottom:0;
    width: 100%;
}
.new-message-input
{
    font-size: 20px;
    width: 78%;
    float: left;
}
.send-button
{
    padding: 5px;
    font-size: 14px;
    background: black;
    width: 20%;
    color: white;

}