.message-box
{
    width: 50%;
    background: burlywood;
    border: solid 2px black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}
.message-head
{
    font-weight: 700;
}
.message-body
{
    font-size: 13px;;
}