.wrapper
{
   background:antiquewhite;
   padding:20px 0;
}
.container
{
  overflow: auto;
  background: beige;
  width: 50%;
  position: relative;
  height: 80%;
  margin:0 auto;
  border:solid 2px black
}
html,body,.wrapper,#root
{
  height:100%;
  box-sizing: border-box;
}